body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #e3eeff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: grid;
  /* align-items: center; */
}

.home_leftmenu {
  margin-top: 9vh;
}

.fixed {
  position: sticky;
  top: 0;
  z-index: 999;
}

.fixed3 {
  position: sticky;
  top: 9vh;
}

.modal-backdrop {
  z-index: -1 !important;
}

.modal-body {
  word-wrap: break-word;
}

.modal-dialog {
  top: 45px !important;
  padding-top: 10px;
  z-index: 3;
}

.modal-content {
  z-index: 3;
}

.zIndex-two {
  z-index: 2 !important;
}

.zIndexThree {
  z-index: 3 !important;
}

.drag_icon {
  display: none;
}

.share-form {
  position: relative;
}

.share-input {
  width: 330px;
}

.share-btn {
  padding: 8px 25px;

}

@media screen and (max-width: 1260px) {
  .col-lg-1 {
    width: 100%;
  }

  .drag_icon {
    display: inline-block;
    position: fixed;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 5px;
  }

  .fixed3 {
    position: fixed;
    padding: 15px 20px;
    border-radius: 10px;
    top: 70%;
    left: 50%;
    background-color: #808080ba;
    z-index: 999;
    transform: translate(-50%, -50%);
    max-height: 220px;
    overflow: auto;
    touch-action: none;
    max-width: 500px;
  }

  .fixed3 {
    position: fixed;
    padding: 10px 15px;
    border-radius: 10px;
    top: 70%;
    left: 50%;
    background-color: #808080ba;
    z-index: 999;
    transform: translate(-50%, -50%);
    max-height: 300px;
    overflow: auto;
  }

  .midSection_container {
    /* margin-top: 181px; */
  }
}

@media screen and (max-width: 437px) {
  .midSection_container {
    /* margin-top: 270px; */
  }
}